wsdls/testingautomation.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/NewWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NewWSDLFile" targetNamespace="http://www.example.org/NewWSDLFile/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/NewWSDLFile/">
      <xsd:element name="StockName">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="StockNameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="StockNameRequest">
    <wsdl:part element="tns:StockName" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="StockNameResponse">
    <wsdl:part element="tns:StockNameResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="StockCodePortType">
    <wsdl:operation name="StockName">
      <wsdl:input message="tns:StockNameRequest"/>
      <wsdl:output message="tns:StockNameResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StockCodeBinding" type="tns:StockCodePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="StockName">
      <soap:operation soapAction="http://www.example.org/NewWSDLFile/StockName"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StockCodeService">
    <wsdl:port binding="tns:StockCodeBinding" name="StockCodePort">
      <soap:address location="http://localhost:3003/users"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
